:root {
    --light: #fafaf8;

    --grey: #6a757f;

    --dark: #0D0B0D;

    --c1: #ffb7ab;
    --c1a: #ffcdc2;

    --c2: #33a1fd;
    --c2a: #2176ff;

    --c3: #31393c;

    --c4: #fdca40;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Brooklyn', sans-serif;
    background-color: var(--dark);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    user-select: none;
    max-width: 100%;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--grey);
    background-color: var(--c1a);
}

::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

@font-face {
    font-family: 'Brandford';
    src: url('../assets/fonts/Brandford.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-normal.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-bold.ttf');
    font-weight: 800;
}

main {}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
}















@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 22px;
    }
}