:root {
    --light: #fafaf8;

    --grey: #6a757f;

    --dark: #0D0B0D;

    --c1:#ffb7ab;

    --c2:#33a1fd;
    --c2a:#2176ff;

    --c3:#31393c;

    --c4:#fdca40;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin:0;
    cursor:default;
} html {
    font-size:10px;
    scroll-behavior:smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--c3);
}

a {
    text-decoration: none;
    color:unset;
}

img {
    user-select: none;
    max-width: 100%;
}

.mobile_hidden {
    display:none;
}

body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--c3);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: white;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
    font-weight: 400;
    font-style: normal;
} @font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
    font-weight: 400;
    font-style: italic;
}

main {
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
}