:root {
    --light: #fafaf8;

    --grey: #6a757f;

    --dark: #111111;

    --c1: #ffb7ab;
    --c1a: #ffcdc2;

    --c2: #33a1fd;
    --c2a: #2176ff;

    --c3: #39393C;

    --c4: #fdca40;

    --width-mobile: clamp(15rem, 88vw, 130rem);
    --width-desktop: clamp(15rem, calc(80vw - 10rem), 200rem);
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Brooklyn', sans-serif;
    background-color: var(--dark);
    letter-spacing: 0.06rem;
    position: relative;
    color: var(--light);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

picture img {
    height: 100%;
    width: 100%;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: #31393c;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

@font-face {
    font-family: 'Brandford';
    src: url('../assets/fonts/Brandford.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-normal.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-semibold.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('../assets/fonts/Brooklyn-bold.ttf');
    font-weight: 800;
    font-display: swap;
}

main {
    /* position: relative; */
    /* z-index: 1; */
    flex: 1;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: unset;
    color: inherit;
    font-weight: inherit;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: 'Brooklyn', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: var(--light);
    font-size: inherit;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

















main section {
    background-size: cover;
    box-sizing: border-box;
}

body > .flex {
    display: flex;
    flex-direction: column;
}

main > .ctnr {
    flex: 1;
}





















.stroke_ctnr {}

.logo_outline {
    position: fixed;
    inset: 0;
    min-height: 107vh;
    mix-blend-mode: color-dodge;
    width: 100%;
    /* filter: drop-shadow(-2rem -1rem 1rem var(--c1)); */
    pointer-events: none;
    transform: scale(1.06);
    z-index: 1;
}

.path01 {
    fill: none;
    stroke: var(--c1);
    stroke-miterlimit: 10;
    stroke-width: 0.1rem;
    stroke-dasharray: 185rem;
    stroke-dashoffset: 50vh;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
    transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
    /* transition: stroke-dashoffset 2s cubic-bezier(0.4, 0, 0.2, 1); */
    /* backface-visibility: hidden; */
    /* will-change: stroke-dashoffset; */
}
































/* .intro_sec .cta_ctnr */

.cta {
    background-color: var(--c2a);
    /* text-align: center; */
    color: var(--light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: clamp(1.4rem, 3.9vw, 1.75rem);
    padding: 1.1rem clamp(1.5rem, 6vw, 3rem);
    border-radius: 0.3rem;
    letter-spacing: 0.05rem;
    border: 0.2rem solid var(--c2);
    backdrop-filter: blur(0.4rem);
    position: relative;
    z-index: 9;
    transition: background-color 0.4s ease;
    width: fit-content;
    box-shadow: 0.6rem 0.6rem #fff2;
}

.cta::after {
    content: '';
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 0.3rem;
    height: 0.3rem;
    border-top: 0.2rem solid var(--light);
    border-right: 0.2rem solid var(--light);
    /* transform: rotate(45deg); */
}

.cta:hover {
    background-color: var(--c2);
    transition: background-color 0.05s ease;
}

.cta_ctnr a:not(.cta) {
    font-size: clamp(1.4rem, 4vw, 1.7rem);
    letter-spacing: 0.1rem;
    max-width: 70vh;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: var(--c1a);
}







/* Form warning */

.warning {
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    text-align: center;
    width: fit-content;
    padding: 1rem 2.5rem;
    background-color: var(--dark);
    z-index: 9;
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    border-radius: 5rem;
    border: 0.2rem solid;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    transform: translateY(calc(100% + 3rem));
    opacity: 0;
    visibility: hidden;
    color: var(--light)
}

.warning.require_fields {
    color: var(--c4);
}

.warning.error {
    border-color: crimson;
}

.warning.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}





















@media screen and (min-width: 650px) {
    body > .flex {
        flex-direction: row-reverse;
    }

    .path01 {
        /* transition: stroke-dashoffset 3s cubic-bezier(0, 0, 0.2, 1); */
        stroke-width: 0.15rem;
    }

    .logo_outline {
        opacity: unset;
        inset: -4rem;
        top: -8vh;
        /* transform: translateY(-25%); */
    }
}

































@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 22px;
    }
}