body {
    color: var(--light);
    letter-spacing: 0.06rem;
}

main {
    display: flex;
    flex-direction: column;
}

main>.ctnr {
    flex: 1;
}



header {
    background-color: var(--c2a);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 clamp(1.5rem, 6vw, 3rem);
    /* position: sticky; */
    top: 0;
    z-index: 9;
}

header .logo {
    width: clamp(4rem, calc(3.5vw + 4vh), 7rem);
    /* height: 70%; */
    max-width: 75%;
    max-height: 70%;
}

header .social {
    display: flex;
    flex-direction: row;
    gap: clamp(0.6rem, calc(0.9vw + 0.9vh), 1.6rem);
}

header .social a {
    width: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    min-height: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    border: 0.2rem solid var(--c2);
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: center;
    background-color: var(--c2a);
    transition: background-color 0.3s ease;
}

header .social a:hover {
    background-color: var(--c2);
    transition: background-color 0.05s ease;
}

header .social .instagram {
    background-image: url(../assets/icons/instagram.svg);
}

header .social .twitter {
    background-image: url(../assets/icons/twitter.svg);
}

header .social .tiktok {
    background-image: url(../assets/icons/tiktok.svg);
}

.hambt {
    width: clamp(3rem, calc(2.5vw + 3vh), 4.5rem);
    height: calc(clamp(3rem, calc(2.5vw + 3vh), 4.6rem) * 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hambt div {
    background-color: var(--light);
    height: 18%;
    width: 100%;
    border-radius: 0.2rem;
}

.logo_outline {
    position: fixed;
    inset: 0;
    min-height: 107vh;
    mix-blend-mode: color-dodge;
    width: 100%;
    opacity: 0.4;
    /* filter: drop-shadow(-2rem -1rem 1rem var(--c1)); */
    pointer-events: none;
    z-index: 8;
    transform: scale(1.05);
}

.path01 {
    fill: none;
    stroke: darksalmon;
    stroke-miterlimit: 10;
    stroke-width: 0.2rem;
    stroke-dasharray: 185rem;
    stroke-dashoffset: 50vh;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
    transition: stroke-dashoffset 2s cubic-bezier(0.4, 0, 0.2, 1);
}





main section {
    /* min-height: clamp(85vh, 150vw, 97vh); */
    background-size: cover;
    /* border-bottom: 0.4rem solid #111; */
    box-sizing: border-box;
}

section>.ctnr {
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}


.intro_sec {
    background-image: linear-gradient(9deg, var(--c3) 4%, transparent 38%), url(../assets/Andrei/andrei01.jpg);
    background-position: 56% center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* background-attachment: fixed; */
    /* border-bottom: 0.1rem solid var(--c3); */
    /* box-shadow: 0 1rem 9rem var(--dark); */
} .intro_sec>.ctnr {
    background-color: rgb(13 11 13 / 50%);
    padding: clamp(2rem, 10vw, 5rem) clamp(2rem, 6vw, 4rem) clamp(2rem, 15vw, 7rem) clamp(2rem, 6vw, 4rem);
    padding-left: clamp(2rem, 7vw, 15rem);
    min-height: clamp(85vh, 145vw, 94vh);
} .intro_sec h1 {
    font-weight: 400;
    text-shadow: 0 1rem 4rem var(--dark);
    /* position: sticky; */
    /* top: calc(clamp(2rem, 10vw, 5rem) + 8rem); */
    margin-bottom: clamp(7rem, 24vw, 11rem);
} .intro_sec h2 {
    font-weight: 800;
    font-size: clamp(2.1rem, calc(1.8vw + 2.6vh), 5rem);
    width: fit-content;
    max-width: 73rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
} .intro_sec h2 strong {
    letter-spacing: 0;
    color: var(--c1a);
}

.intro_sec>.ctnr .wrapper {
    /* min-height: 40vh; */
    margin-bottom: clamp(1rem, 6vw, 5rem);
    flex: 1;
}

.intro_sec h1 b {
    font-size: clamp(5.4rem, calc(5vw + 5vh), 11rem);
    line-height: 0.95;
    display: block;
    font-family: 'Brandford', sans-serif;
    letter-spacing: 0.5rem;
    color: var(--light);
    flex: 1;
    max-width: 80%;
}

.intro_sec h1 span {
    font-size: clamp(1.1rem, calc(1.9vw + 2vh - 1.3rem), 1.6rem);
    line-height: 1.4;
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    width: 45vw;
    max-width: 50rem;
    display: block;
    font-weight: 600;
    color: var(--light);
}

.intro_sec h1 span i {
    color: var(--c1a);
}

.intro_sec .content {}

.cta_ctnr {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: clamp(1rem, 4vw, 3rem);
}

.cta_ctnr .cta {
    /* background-color: var(--c1a); */
    text-align: center;
    color: var(--light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.8rem;
    padding: 1.1rem 2rem;
    border-radius: 0.3rem;
    letter-spacing: 0.1rem;
    border: 0.2rem solid var(--c1a);
    white-space: nowrap;
    backdrop-filter: blur(0.4rem);
    position: relative;
    z-index: 8;
}

.cta_ctnr a:not(.cta) {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
















.midsec {
    min-height: 20rem;
    background-color: var(--c1a);
}

















.about_sec {
    background-image: url(../assets/Andrei/andrei02.jpg);
    background-position: 70% center;
    background-attachment: fixed;
} .about_sec>.ctnr {
    background-color: rgb(13 11 13 / 91%);
    align-items: center;
    /* backdrop-filter: blur(0.5rem); */
    padding: 0 clamp(2rem, 6vw, 4rem) clamp(2rem, 20vw, 12rem) clamp(2rem, 6vw, 4rem);
    /* min-height: clamp(85vh, 145vw, 94vh); */
} .about_sec .content {
    font-size: clamp(1.5rem, calc(1.5vw + 1.5vh), 2.4rem);
    font-weight: 400;
    line-height: 1.45;
    color: var(--light);
    width: clamp(10rem, 85vw, 85.5rem);
} .about_sec .content b, .about_sec .content strong {
    color: var(--c1a);
}

.tiktok-embed {
    border-radius: 1.5rem;
    height: 70rem;
    width: fit-content !important;
    top: -4rem;
}












@media screen and (min-width: 650px) {
    main {
        flex-direction: row-reverse;
    }

    header {
        height: 100vh;
        height: 100dvh;
        width: clamp(11rem, calc(7vw + 6vh), 18rem);
        padding: clamp(2rem, 2.5vw, 5rem) 0;
        flex-direction: column;
        position: sticky;
        top: 0;
    }

    header .social {
        flex-direction: column;
        max-height: calc(80vh - 9rem);
        overflow-y: auto;
    }

    .logo_outline {
        opacity: unset;
        inset: -4rem;
        top: -8vh;
        /* transform: translateY(-25%); */
    }

    .path01 {
        transition: stroke-dashoffset 3s cubic-bezier(0, 0, 0.2, 1);
    }

    .intro_sec h1 {
        /* top: clamp(2rem, 12vw, 5rem); */
        margin-bottom: unset;
        max-width: 54rem;
        display: flex;
        align-items: self-end;
        gap: 2rem;
    }

    .cta_ctnr {
    }

    .intro_sec h1 span {
        font-size: clamp(1rem, calc(2.4vw + 2.6vh - 1.2rem), 1.35rem);
        position: relative;
        bottom: clamp(1rem, 1.5vw, 2rem);
    }

    .intro_sec .content {}

    section>.ctnr {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro_sec h2 {
        margin: clamp(0rem, 3vh, 2rem) 0 clamp(0rem, 4vh, 2.5rem);
        /* font-weight: 600; */
        line-height: 1.15;
    }
}