body {
    color: var(--light);
    letter-spacing: 0.06rem;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

main>.ctnr {
    flex: 1;
}



header {
    background-color: var(--c2a);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 clamp(1.5rem, 5vw, 2rem);
    position: sticky;
    top: 0;
    z-index: 9;
}

header .logo {
    width: clamp(5rem, calc(4vw + 4vh), 7rem);
    /* height: 70%; */
    max-width: 75%;
    max-height: 70%;
}

header .social {
    display: flex;
    flex-direction: row;
    gap: clamp(0.6rem, calc(0.9vw + 0.9vh), 1.6rem);
} header .social a {
    width: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    min-height: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    border: 0.2rem solid var(--c2);
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: center;
    background-color: var(--c2a);
    transition: background-color 0.3s ease;
} header .social a:hover {
    background-color: var(--c2);
    transition: background-color 0.05s ease;
} header .social .instagram {
    background-image: url(../assets/icons/instagram.svg);
} header .social .twitter {
    background-image: url(../assets/icons/twitter.svg);
} header .social .tiktok {
    background-image: url(../assets/icons/tiktok.svg);
}

.hambt {
    width: clamp(3rem, calc(2.5vw + 3vh), 4.5rem);
    height: calc(clamp(3rem, calc(2.5vw + 3vh), 4.6rem) * 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hambt div {
    background-color: var(--light);
    height: 18%;
    width: 100%;
    border-radius: 0.2rem;
}

.logo_outline {
    position: fixed;
    inset: 0;
    min-height: 107vh;
    mix-blend-mode: color-dodge;
    width: 100%;
    opacity: 0.2;
    /* filter: drop-shadow(-2rem -1rem 1rem var(--c1)); */
    pointer-events: none;
    z-index: 8;
    /* transform: scale(0.99); */
}

.path01 {
    fill: none;
    stroke: darksalmon;
    stroke-miterlimit: 10;
    stroke-width: 0.3rem;
    stroke-dasharray: 185rem;
    stroke-dashoffset: 50vh;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease;
}





main section {
    /* min-height: clamp(85vh, 150vw, 97vh); */
    background-size: cover;
    border-bottom: 1.2rem solid var(--dark);
}





.intro_sec {
    background-image: linear-gradient(5deg, var(--c1) -10%, transparent 24%), url(../assets/Andrei/andrei01.jpg);
    background-position: 56% center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-attachment: fixed;
}.intro_sec h1 {
    font-weight: 400;
    text-shadow: 0 1rem 4rem var(--dark);
    /* position: sticky; */
    /* top: calc(clamp(2rem, 10vw, 5rem) + 8rem); */
    margin-bottom: 11rem;
}  .intro_sec h2 {
    font-weight: 800;
    font-size: clamp(2.1rem, calc(1.6vw + 2.6vh), 3.8rem);
    width: fit-content;
    max-width: 73rem;
    margin-bottom: 2.5rem;
} .intro_sec h2 strong {background-color: var(--dark);padding: 0 1rem;letter-spacing: 0;color: var(--c1a);}

section > .ctnr {
    background-color: rgb(13 11 13 / 62%);
    box-sizing: border-box;
    width: 100%;
    padding: clamp(2rem, 10vw, 5rem) clamp(2rem, 6vw, 4rem);
    box-sizing: border-box;
    min-height: clamp(85vh, 150vw, 91vh);
    justify-content: space-between;
} .intro_sec>.ctnr .wrapper {
    /* min-height: 40vh; */
    margin-bottom: clamp(1rem, 6vw, 5rem);
    flex: 1;
} .intro_sec h1 b {
    font-size: clamp(5.4rem, calc(6vw + 6vh), 10rem);
    line-height: 1;
    display: block;
    font-family: 'Brandford', sans-serif;
    letter-spacing: 0.5rem;
    color: var(--light);
    flex: 1;
} .intro_sec h1 span {
    font-size: clamp(1.1rem, calc(1.8vw + 2vh - 1.2rem), 1.6rem);
    line-height: 1.4;
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    width: 65vw;
    max-width: 50rem;
    display: block;
    font-weight: 800;
    color: var(--light);
} .intro_sec h1 span i {color: var(--c1a);} .intro_sec .content {} .intro_sec .content a {
    background-color: var(--c2a);
    text-align: center;
    color: var(--light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.7rem;
    padding: 1.3rem 4rem;
    border-radius: 0.3rem;
    letter-spacing: 0.1rem;
    border: 0.2rem solid #ffffff55;
} 






.about_sec {
    background-image: url(../assets/Andrei/andrei02.jpg);
    background-position: 70% center;
}













@media screen and (min-width: 650px) {
    main {
        flex-direction: row;
    }

    header {
        height: 100vh;
        height: 100dvh;
        width: clamp(11rem, calc(7vw + 6vh), 18rem);
        padding: clamp(2rem, 2.5vw, 5rem) 0;
        flex-direction: column;
    }

    header .social {
        flex-direction: column;
        max-height: calc(80vh - 9rem);
        overflow-y: auto;
    }

    .logo_outline {
        opacity: unset;
        inset: -4rem;
        top: -40%;
    }

    .path01 {
        transition: stroke-dashoffset 3s cubic-bezier(0, 0, 0.2, 1);
    }

    .intro_sec h1 {
        /* top: clamp(2rem, 12vw, 5rem); */
        margin-bottom: unset;
        max-width: 51rem;
        display: flex;
        align-items: self-end;
        gap: 2rem;
    } .intro_sec h1 span {
        font-size: clamp(1rem, calc(2.4vw + 2.6vh - 1.2rem), 1.5rem);
        position: relative;
        bottom: clamp(1rem, 1.5vw, 2rem);
    } .intro_sec .content {
    } section > .ctnr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: clamp(2rem, 8vw, 15rem);
    }

    .intro_sec h2 {
        margin: clamp(0rem, 3vh, 2.5rem) 0 clamp(0rem, 4vh, 3rem);
    }
}